{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'workers/css/all-workers.css' %}">
{% endblock %}

{% block title %} All workers: {% endblock %}

{% block content %}
    <ul  class="worker-buttons">
    <li><a class="btn create" href="{% url 'create_worker' %}"> Add a new worker</a></li>
    </ul>
    <h1>All workers: </h1>
    {% for worker in all_workers  %}
        <h2>{{worker}}</h2>

        <ul class="worker-buttons">
            <li><a class="btn details" href="{% url 'detail_worker' worker.id  %}">view</a></li>
            <li><a class="btn edit" href="#">edit</a></li>
            <li><a class="btn delete" href="{% url 'delete_worker' worker.id %}">delete</a></li>
        </ul>

    {% endfor %}
{% endblock %}
