{% extends 'main/base.html' %}
{% load static %}

{% block title %} Worker info {% endblock %}

<style>
    .create-resume-btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 28px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-size: 16px;
    background-color: #0774eb;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-resume-btn:hover {
    background-color: #022d5c;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.create-resume-btn:active {
    transform: translateY(0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

</style>

{% block content %}
    <h1>Information</h1>
    <p>Name: {{ worker.name }}</p>
    <p>Salary: {{ worker.salary }}</p>
    {% if worker.note %}
        <p>{{ worker.note }}</p>
    {% else %}
        <p>extra information doesn't exist</p>
    {% endif %}

    {% if worker.resume %}
        <h1>CV: {{ worker.resume.date_created }}</h1>
        <p>{{ worker.resume.description }}</p>
    {% else %}
        <a class="create-resume-btn" style="color: blue" href="{% url 'create_resume' worker.id %}"> create CV</a>
    {% endif %}

    {% if worker.contacts.exists %}
        {% for contact in worker.contacts.all %}
            <p>{{ contact.type }}: {{ contact.value }}</p>
        {% endfor %}
    {% else %}
        <p> doesn't have any of contacts</p>

    {% endif %}

    <a href="{%  url 'all_workers' %}" style="color: green;">back</a>

{% endblock %}
