{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{%static 'workers/css/worker-form.css' %}">
{% endblock %}

{% block title %} Search {% endblock %}

{% block content %}

    <h1>Find worker</h1>

    <form method="get">
        {{ form.as_p }}
    <button type="submit">Find</button>

    </form>

    {% if workers %}
        <h2>for w in workers</h2>
        {% for w in workers %}
            <h2>{{ w }}</h2>
            <a href="{% url 'detail_worker' w.id %}">Details</a>
        {% endfor %}
    {% endif %}


{% endblock %}
